<footer class="footer">
    <small>
    The Blogpost App
    by <a href="github.com/sajid-ali-malik">Sajid Ali</a>
    </small>

    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="https://linkedin.com/in/thesajidali1997" target="_blank" >linkedin</a></li>
        </ul>
    </nav>
</footer>